{{define "default"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GTD</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/AdminLTE.min.css">
  <link rel="stylesheet" href="css/skins/skin-blue.min.css">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body class="hold-transition skin-blue fixed sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <a href="#" class="logo">
      <span class="logo-mini"><b>D</b></span>
      <span class="logo-lg">GT<b>D</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
      <div class="navbar-custom-menu pull-left">
        <ul class="nav navbar-nav">
          <li><a href="#add">Add</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li><a href="#"><span>All</span></a></li>
        <li><a href="#"><span>Today</span></a></li>
        <li class="treeview">
          <a href="#"><span>Multilevel</span> <span class="fa fa-angle-left pull-right"></span></a>
          <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <section class="content row">
        <p>Loading...</p>
    </section>
  </div>

  <footer class="main-footer">
  </footer>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/AdminLTEOptions.js"></script>
<script src="js/app.min.js"></script>
<script>
  function update(uri, data) {
    $.ajax({
      url: uri,
      method: "POST",
      data: data,
      dataType: "json",
      cache: false,
      success: function(data) {
        switch (data.StatusCode) {
        case 200:
          $(".content").html(data.Content);
          break;
        case 302:
          location.hash = data.Content;
          break;
        default:
          alert(data.StatusCode+": "+data.Content);
          break;
        }
      },
      error: function(data) {
        alert("Error "+data.status);
      },
    });
  }

  window.onhashchange = function() {
    uri = location.hash.substring(1) || "index";
    update(uri);
  };

  $(function() {
    uri = location.hash.substring(1) || "index";
    update(uri);
  });
</script>
</body>
</html>
{{end}}
