{{define "edit"}}
<script>
$(function() {
    $("input[name='ID']").val("{{.ID}}");

    $("input[name='Subject']").val("{{js .Subject}}");

    {{if .Due.EqualZero}}
    $("input[name='NoDue']").prop("checked", true);
    {{else}}
    $("input[name='DueDate']").val("{{.Due.Date}}");
    $("input[name='DueTime']").val("{{.Due.Time}}");
    {{end}}

    $("input[name='Priority'][value='{{.Priority}}']").parent().button('toggle');

    {{if .Reminder.EqualZero}}
    $("input[name='NoReminder']").prop("checked", true);
    {{else}}
    $("input[name='ReminderDate']").val("{{.Reminder.Date}}");
    $("input[name='ReminderTime']").val("{{.Reminder.Time}}");
    {{end}}

    {{if not .Next.EqualZero}}
    $("input[name='Next']").prop("checked", true);
    $("input[name='NextDate']").val("{{.Next.Date}}");
    $("input[name='NextTime']").val("{{.Next.Time}}");
    {{end}}

    $("textarea[name='Note']").val("{{js .Note}}");

    $("#Done").removeClass("hidden");
    $("#Done").attr("href", "#/done?ID={{.ID}}");
    $("#Delete").removeClass("hidden");
    $("#Delete").attr("href", "#/delete?ID={{.ID}}");

    $("input[name='Tags']").val("{{.Tags}}");

    $("input[name='ParentTaskID']").val("{{.ParentTaskID}}");
});
</script>
{{end}}
