{{define "edit"}}
<script>
$(document).ready(function() {
    $("input[name='ID']").val("{{.ID}}");
    $("input[name='Subject']").val("{{.Subject}}");
    $("input[name='NoDue']").prop("checked", {{.NoDue}});
    $("input[name='DueDate']").val("{{.Task.Due.Date}}");
    $("input[name='DueTime']").val("{{.Task.Due.Time}}");
    $("input[name='Priority'][value='{{.Priority}}']").parent().button('toggle');
    $("input[name='Next']").prop("checked", {{.Next}});
    $("input[name='NextDate']").val("{{.Task.Next.Date}}");
    $("input[name='NextTime']").val("{{.Task.Next.Time}}");
    $("input[name='NoNotification']").prop("checked", {{.NoNotification}});
    $("input[name='NotificationDate']").val("{{.Task.Notification.Date}}");
    $("input[name='NotificationTime']").val("{{.Task.Notification.Time}}");
    $("textarea[name='Note']").val("{{.Note}}");
    $("#Delete").removeClass("hidden");
    $("#Delete").attr("href", "delete?ID={{.ID}}");
});
</script>
{{end}}
