{{define "form"}}
<form class="col-xs-12 col-sm-8">
  <div class="row">
  <div class="form-group col-xs-12 col-sm-6">
    <label>ID</label>
    <input type="text" name="ID" class="form-control" value="0" readonly>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
    <label>ParentTaskID</label>
    <input type="text" name="ParentTaskID" class="form-control" value="0" readonly>
  </div>
  </div>

  <div class="form-group">
    <label>Subject</label>
    <input type="text" name="Subject" class="form-control">
  </div>

  <div class="form-group">
    <label>Due</label>
    <div class="row">
      <div class="col-xs-12 checkbox">
        <label>
          <input type="checkbox" name="NoDue">No due</input>
        </label>
      </div>
      <div class="col-xs-7">
        <input type="date" name="DueDate" class="form-control">
      </div>
      <div class="col-xs-5">
        <input type="time" name="DueTime" class="form-control">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Priority</label>
    <br>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="radio" name="Priority" value="1">1
      </label>
      <label class="btn btn-default">
        <input type="radio" name="Priority" value="2">2
      </label>
      <label class="btn btn-default">
        <input type="radio" name="Priority" value="3">3
      </label>
    </div>
  </div>

  <div class="form-group">
    <label>Notification</label>
    <div class="row">
      <div class="col-xs-12 checkbox">
        <label>
          <input type="checkbox" name="NoNotification">No notification</input>
        </label>
      </div>
      <div class="col-xs-7">
        <input type="date" name="NotificationDate" class="form-control">
      </div>
      <div class="col-xs-5">
        <input type="time" name="NotificationTime" class="form-control">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Next</label>
    <div class="row">
      <div class="col-xs-12 checkbox">
        <label>
          <input type="checkbox" name="Next">Next</input>
        </label>
      </div>
      <div class="col-xs-7">
        <input type="date" name="NextDate" class="form-control">
      </div>
      <div class="col-xs-5">
        <input type="time" name="NextTime" class="form-control">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Note</label>
    <textarea name="Note" class="form-control" rows="6"></textarea>
  </div>

  <div class="form-group">
    <label>Tags</label>
    <input type="text" name="Tags" class="form-control">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default form-control">Submit</button>
  </div>

  <div class="form-group">
    <a type="button" href="" id="Done" class="btn btn-success form-control hidden">Done</a>
    <a type="button" href="" id="Delete" class="btn btn-danger form-control hidden">Delete</a>
  </div>
</form>

<script>
  $("form").submit(function(event) {
    event.preventDefault();
    update("/update", $("form").serialize());
  });
</script>
{{end}}

{{define "parentsubtask"}}
<div class="col-xs-12 col-sm-4">
  <h3>Parent Task</h3>
  {{if ne .ParentTask.ID 0}}
  <a href="#/edit?ID={{.ParentTask.ID}}">
    <h4><span class="label {{if eq .ParentTask.Priority 1}}label-danger{{else}}label-default{{end}}">{{.ParentTask.Priority}}</span> {{.ParentTask.Subject}}</h4>
    <p class="text-right">{{.ParentTask.Due.Date}} {{.ParentTask.Due.Time}}</p>
  </a>
  {{else}}
  <p>None</p>
  {{end}}

  <h3>Sub Tasks</h3>
  {{if .SubTasks}}
  {{range .SubTasks}}
  <a href="#/edit?ID={{.ID}}">
    <h4><span class="label {{if eq .Priority 1}}label-danger{{else}}label-default{{end}}">{{.Priority}}</span> {{.Subject}}</h4>
    <p class="text-right">{{.Due.Date}} {{.Due.Time}}</p>
  </a>
  {{end}}
  {{else}}
  <p>None</p>
  {{end}}
  <a href="#/newSub?ID={{.ID}}">New</a>
</div>
{{end}}
