{{define "index"}}
{{if .}}
<ul class="col-xs-12 col-sm-6 task-list">
  {{range .}}
  <li class="{{if eq .Priority 1}}danger{{else}}default{{end}}">
    <div class="task-header">
      <b><span class="label {{if eq .Priority 1}}label-danger{{else}}label-default{{end}}">{{.Priority}}</span> {{.Subject}}</b>
      <span class="text-nowrap">{{if not .Due.EqualZero}}{{.Due.Date}} {{.Due.Time}}{{else}}No Due{{end}}</span>
    </div>

    <div class="task-body">
      {{if or .Note .SubTasks}}
      {{if .Note}}
      <pre class="task-body-item">{{.Note}}</pre>
      {{end}}
      {{if .SubTasks}}
      <ul class="task-body-item task-list">
        {{range .SubTasks}}
        <li class="{{if eq .Priority 1}}danger{{else}}default{{end}}">
          <div class="task-header">
            <b><span class="label {{if eq .Priority 1}}label-danger{{else}}label-default{{end}}">{{.Priority}}</span> {{.Subject}}</b>
            <span class="text-nowrap">{{if not .Due.EqualZero}}{{.Due.Date}} {{.Due.Time}}{{else}}No Due{{end}}</span>
          </div>
          <div class="task-body">
            {{if .Note}}
            <pre class="task-body-item">{{.Note}}</pre>
            {{end}}
            <div class="task-body-item row">
              <a href="#/edit?ID={{.ID}}" class="col-xs-6 col-md-3"><i class="fa fa-edit"></i> Edit</a>
              <a href="#/delete?ID={{.ID}}" class="col-xs-6 col-md-3 text-danger"><i class="fa fa-trash"></i> Delete</a>
            </div>
          </div>
        </li>
        {{end}}
      </ul>
      {{end}}
      {{end}}
      <div class="task-body-item row">
        <a href="#/edit?ID={{.ID}}" class="col-xs-6 col-md-3"><i class="fa fa-edit"></i> Edit</a>
        <a href="#/delete?ID={{.ID}}" class="col-xs-6 col-md-3 text-danger"><i class="fa fa-trash"></i> Delete</a>
      </div>
    </div>
  </li>
  {{end}}
</ul>
<script>
  $(".task-list li .task-header").click(function() {
    $(this).siblings(".task-body").slideToggle();
  });
</script>
{{else}}
<h3>Nothing to do. :)</h3>
{{end}}
{{end}}
